[General]
Input = F:\temp\test\in
Output = F:\temp\test\out

# Use salt when hashing file names
# Possible values: {yes, no}
Use salt = yes

# store copy of unencrypted mapping file in same directory as this ini?
Store copy of mapping = yes

[Encryption]
Password = secret
